.root {
    -fx-font-family: "Arial";
    -fx-base: #ffffff;
}

.tab-pane {
    -fx-tab-min-height: 30px;
    -fx-tab-min-width: 100px;
    -fx-background-color: #f0f0f0;
}

.tab {
    -fx-background-color: #d3d3d3;
    -fx-padding: 10px;
}

.tab:selected {
    -fx-background-color: #ffffff;
    -fx-border-color: #c0c0c0;
}

.anchor-pane {
    -fx-background-color: #f4f4f4;
}

.label {
    -fx-text-fill: #333333;
    -fx-font-size: 14px;
}

/* Specific IDs for customization */
#lblBatteryId, #lblCpuId, #lblDiskId, #lblSystemId, #lblLoadId {
    -fx-text-fill: #2a2a2a;
    -fx-font-weight: bold;
}

#lblBatteryModel, #lblCpuModel, #lblDiskModel, #lblWindowsInfo, #lblPcName {
    -fx-text-fill: #666666;
    -fx-font-style: italic;
}
